#buttons {
    margin-left: 20%;
}
#inputs{
    margin-left: 20%;
}
#colors{
    margin-left: 20%;
    .box{
        height: 40px;
        border: 1px solid black;
    }
   .listss{
column-gap: 300px;
   }
}